:root {
  --pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

.font {
  /* Headings */
  font-family: 'Poppins', sans-serif;
  /* Body, Call-to-actions */
  font-family: 'Open Sans', sans-serif;
}

/* general styling  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 1rem 2rem;
}

main {
  width: 23.4rem;
}

header {
  background-image: url(./images/bg-hero-mobile.svg);
  background-size: cover;
  background-position: top center;
  text-align: center;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
}

.logo {
  width: 100px;
}

.nav-btn {
  font-family: 'Poppins', sans-serif;
  border: 2px solid transparent;
  box-shadow: -2px 0px 3px 1px rgba(92, 88, 88, 0.75);
  border-radius: 20px;
  padding: 0.2rem 1rem;
  font-size: 0.7rem;
  background-color: #fff;
}

.nav-btn a {
  color: var(--Very-Dark-Cyan);
}

.nav-desc {
  gap: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.nav-desc h2 {
  font-size: 1.3rem;
}

.nav-desc p {
  font-size: 1rem;
  margin: 1.5rem 0;
}

.desc-btn a {
  color: #fff;
  border-radius: 20px;
  padding: 0.7rem 1.5rem;
  font-size: 0.7rem;
  background-color: var(--pink);
}

.nav-img {
  margin-top: 3.5rem;
}
