:root {
  --pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

.font {
  /* Headings */
  font-family: 'Poppins', sans-serif;
  /* Body, Call-to-actions */
  font-family: 'Open Sans', sans-serif;
}

/* general styling  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 1rem 2rem;
}

main {
  width: 23.4rem;
}

header {
  background-image: url(./images/bg-hero-mobile.svg);
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}
